* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background: url(../img/wolfmine-background.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* Header CSS */

#header {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    height: 46px;
    top: 0;
    background-image: url(../img/header-background.jpg);
}

.header--playbtn {
    width: 110px;
    float: right;
}

.header--nav {
    height: 46px;
    position: absolute;
}

.header--nav li {
    display: inline-block;
    line-height: 46px;
    padding: 0 53px;
}

.header--nav li:hover {
    background-color: black;
    opacity: 0.7;
    cursor: pointer;
}

.header--nav a {
    font-size: 19px;
    font-weight: 500;
    text-shadow: 2px 1px black;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

i.header--mobilebtn {
    display: none;
}

/* Content CSS */

#content {
    position: relative;
    top: 48px;
    box-shadow: 2px 2px 10px black;
    background: #fff;
    border-radius: 40px;
    margin: 0 100px;
    margin-bottom: 48px;
    padding-bottom: 48px;
}

#content .content--about__red {
    color: red;
}

#content .content--about__green {
    color: green;
}

#content .content--about__blue {
    color: blue;
}

#content .content-section {
    margin-top: 32px;
    padding: 0 48px;
}

#content .content--info {
    line-height: 1.6;
    text-align: justify;
    padding-top: 32px;
    display: flex;
    flex-direction: row;
}

.content--info img {
    width: 40%;
}

#content .content__title {
    text-align: center;
    padding-top: 48px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: underline;
}

#content .content__desc,
.content--text {
    text-shadow: 0.1px 0.1px black;
    font-size: 19px;
    color: #787878;
}

.content--ps__desc {
    margin-right: 62px;
}

.content--sb__desc {
    margin-left: 32px;
}

.content--text, .content--img {
    margin-top: 32px;
}

.content--img {
    width: 100%;
}

/* Footer CSS */

#footer {
    text-align: center;
    width: 100%;
    margin-top: 96px;
    background-image: url(../img/header-background.jpg);
}

#footer span {
    font-weight: 600;
    text-shadow: 1px 1px 5px #000;
    color: #fff;
    font-family: pixel, sans-serif;
    line-height: 46px;
    font-size: large;
}

#footer i {
    font-size: 21px;
    font-weight: 600;
}